.cart-item {
  background: orange;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px lemonchiffon;
}

.mb-3.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
